Voice-Speech-Authentication/model/am/final.mdl
Voice-Speech-Authentication/model/am/frame_subsampling_factor
Voice-Speech-Authentication/model/am/tree
Voice-Speech-Authentication/model/conf/mfcc.conf
Voice-Speech-Authentication/model/conf/model.conf
Voice-Speech-Authentication/model/graph/HCLG.fst
Voice-Speech-Authentication/model/graph/phones.txt
Voice-Speech-Authentication/model/graph/phones/word_boundary.int
Voice-Speech-Authentication/model/graph/words.txt
Voice-Speech-Authentication/model/ivector/final.dubm
Voice-Speech-Authentication/model/ivector/final.ie
Voice-Speech-Authentication/model/ivector/final.mat
Voice-Speech-Authentication/model/ivector/global_cmvn.stats
Voice-Speech-Authentication/model/ivector/ivector.conf
Voice-Speech-Authentication/model/ivector/mfcc.conf
Voice-Speech-Authentication/model/ivector/online_cmvn.conf
Voice-Speech-Authentication/model/ivector/splice.conf
Voice-Speech-Authentication/model/README
Voice-Speech-Authentication/model/rescore/G.carpa
Voice-Speech-Authentication/model/rescore/G.fst
﻿app/__pycache__
.idea