Flask == 1.1.2
Flask_Session == 0.3.2
Flask_SocketIO == 5.0.1
PyAudio == 0.2.11
Pyrebase == 3.0.27
app == 0.0.1
keras == 2.4.3
librosa == 0.8.0
numpy == 1.18.1
pandas == 1.0.1
pydub == 0.25.1
python-speech-features == 0.6
scipy == 1.6.2
silence-tensorflow == 1.1.1
vosk == 0.3.21
