{% extends "global.html" %}

{% block content %}


    <br/>
      <div class="jumbotron">
        <h1 class="display-4">Hey</h1>
        <p class="lead">Create an account, to use TeamEggFriedRice's Voice Auth System!</p>
        <hr class="my-4">
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/register" method="post">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="name"  placeholder="Enter email">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Create</button>
            <div id="controls">
              <img id="record" src="{{ url_for('static', filename='audio/mic128.png') }}" onclick="toggleRecording(this);">
            </div>
        </form>
     </div>

{% endblock %}
