{% extends "global.html" %}

{% block content %}


    <br/>
      <div class="jumbotron">
        <p class="lead">Did you forget your password? Reset it below!</p>
        <hr class="my-4">
        {% if smessage %}
          <div class="alert alert-success">
            {{ smessage }}
          </div>
        {% endif %}
        {% if umessage %}
          <div class="alert alert-danger">
            {{ umessage }}
          </div>
        {% endif %}
        <form action="/forgot_password" method="post">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="name"  placeholder="Enter email">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
		{% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
          </form>
     </div>

{% endblock %}
